body
{
    background-image: url("https://wallpaperaccess.com/full/40047.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form
{
    text-align: center;
    vertical-align: middle;
    visibility: visible;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

#row
{
    text-align: center;
    margin: 1px;
    background-color: rgb(187, 0, 255);
    object-fit: contain;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
  
#row:hover
{
    filter: blur(1px);
}

#tiles
{
    visibility: hidden;
}
  
#box
{
    text-align: center;
    display: grid;
    height: 900px;
    width: 900px;
    border: 5px solid rgb(30, 0, 255);
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 20px;
}