body
{
    background-image: url("https://wallpaperaccess.com/full/40047.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form
{
    text-align: center;
    vertical-align: middle;
    visibility: visible;
}

#row
{
    text-align: center;
    margin: 1px;
    background-color: rgb(187, 0, 255);
    object-fit: contain;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
  
#row:hover
{
    filter: blur(1px);
}

#tiles
{
    visibility: hidden;
}
  
#box
{
    text-align: center;
    display: grid;
    height: 900px;
    width: 900px;
    border: 5px solid rgb(30, 0, 255);
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 20px;
}
  
  
#reload,#submit
{
    background-color: #f3838c;
    border-radius: 100px;

    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, .15) 0 1px 2px,
    rgba(44, 187, 99, .15) 0 2px 4px,
    rgba(44, 187, 99, .15) 0 4px 8px,
    rgba(44, 187, 99, .15) 0 8px 16px,
    rgba(44, 187, 99, .15) 0 16px 32px;

    color: rgb(0, 124, 128);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
}

#reload
{
    text-align: center;
}
  
#reload:hover, #submit:hover
{
    box-shadow: rgba(21, 220, 224, 0.35) 0 -25px 18px -14px inset,
    rgba(44,187,99,.25) 0 1px 2px,
    rgba(44,187,99,.25) 0 2px 4px,
    rgba(44,187,99,.25) 0 4px 8px,
    rgba(44,187,99,.25) 0 8px 16px,
    rgba(44,187,99,.25) 0 16px 32px;

    transform: scale(0.95);
}