body
{
    background-image: url("https://wallpaperaccess.com/full/40047.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form
{
    text-align: center;
    vertical-align: middle;
    visibility: visible;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
  }

#row
{
    text-align: center;
    margin: 1px;
    background-color: rgb(187, 0, 255);
    object-fit: contain;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}
  
#row:hover
{
    filter: blur(1px);
}

#tiles
{
    visibility: hidden;
}
  
#box
{
    text-align: center;
    display: grid;
    height: 700px;
    width: 700px;
    box-sizing: border-box;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 20px;
}